{% extends 'base.html' %}
{% load static %}




{% block body %}
    <div class="container mt-5">
        <div class="row pt-5">
            <div class="col-lg-4 col-12 mb-4 mb-lg-0">
                <div class="custom-block bg-white shadow-lg">
                    <a href="topics-detail.html">
                        <div class="d-flex">
                            <div>
                                <h5 class="mb-2">Ad Soyad: {{ user.first_name }} {{ user.last_name }}</h5>

                                <p class="mb-0">E-Mail: {{ user.email }}</p>
                            </div>

                            <span class="badge bg-design rounded-pill ms-auto">14</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
    